<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="'navigation'"
        [mode]="'side'"
        [opened]="true">
      <mat-toolbar>Jobs</mat-toolbar>
      <mat-nav-list>
          <a mat-list-item *ngFor="let jobDetail of jobDetails" [routerLink]="['job-detail', jobDetail.id]">{{jobDetail.title}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  