<mat-toolbar color="primary">
  <span>{{jobDetail.title}}</span>
</mat-toolbar>
<div>
    <br>
    <div class="container">
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card">
            <mat-card-title fxLayout="row">
              <h3>Job Description</h3>
            </mat-card-title>
            <mat-card-content fxLayout="row">
              <div class="mat-elevation-z8" >
                  <mat-card >
                      <mat-card-header>
                          <mat-card-title>{{jobDetail.title}}</mat-card-title>
                          <mat-card-subtitle>{{jobDetail.zip_code}}, {{jobDetail.city}}</mat-card-subtitle>
                        </mat-card-header>
                      <img style="max-width:140px;margin-left: 20px;" mat-card-image [src]="jobDetail.thumbnail" />
                      <mat-card-content>
                        <p>{{jobDetail.description}}</p>
                      </mat-card-content>
                    </mat-card>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>